[Unit]
Description=Inventory Flask Application
After=network-online.target
Wants=network-online.target

[Service]
User=appuser
Group=appuser
WorkingDirectory=/app
EnvironmentFile=/app/app.env

ExecStart=/usr/bin/python3 /app/app.py

Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target